/*? _____________________________________________ Registration _____________________________________________ */

#Registration .container .register-form {
    max-width: 500px;
    margin-inline: auto;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid var(--first-color);

    position: relative;
}

#Registration .container .register-form .reset {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--first-color);
}

#Registration .container .register-form .form-title h2 {
    background: var(--main-gradient);
    background-clip: text;
    color: transparent;

    font-size: 25px;
    letter-spacing: 1px;
}

#Registration .container .register-form form .box button {
    border: 3px solid var(--first-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    vertical-align: baseline;
    letter-spacing: 2px;
    transition: 0.5s;
}

#Registration .container .register-form form .box button i {
    font-size: initial;
}

#Registration .container .register-form form .box button:hover {
    transform: scale(1.03);
}

/* ? _____________________________________________ Search _____________________________________________ */

#Search .container .box {
    max-width: 400px;
    margin: auto;
}

/* ? _____________________________________________ Students _____________________________________________ */

#Students .container .alert {
    font-size: 18px;
}

#Students .container .table-responsive {
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.5);
}

#Students .container .table-responsive table {
    width: max-content;
    min-width: 100%;
    margin: 0;
    --bs-table-striped-bg: #c9ddff93;
}

#Students .container .table-responsive table thead {
    --bs-table-color: #fff;
    --bs-table-bg:  var(--third-color);
}

#Students .container .table-responsive table tr th,
#Students .container .table-responsive table tr td {
    border: none;
    vertical-align: middle;
}

#Students .container .table-responsive table tr td button {
    border: none;
    transition: 0.3s;
}

#Students .container .table-responsive table tr td button:hover,
#Students .container button.btn-delete-all:hover {
    transform: scale(1.05);
}

#Students .container .table-responsive table tr td button:first-child {
    background: var(--fourth-color);
}

#Students .container .table-responsive table tr td button:last-child {
    background: var(--fifth-color);
}

#Students .container button.btn-delete-all {
    background: var(--fifth-color);
    width: 400px;
    margin: auto;
    display: block;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}


/* ? _____________________________________________ Popup _____________________________________________ */

#Popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.3s;
}

#Popup.show {
    opacity: 1;
}

#Popup .box {
    background:  var(--third-color);
    width: 400px;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    color: #fff;
}

#Popup .box .buttons .btn-edit {
    background: var(--fourth-color);
    color: #fff;
}

#Popup .box .buttons .btn-delete {
    background: var(--fifth-color);
    color: #fff;
}